#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.recipesSection {
  width: 80%;
  margin-bottom: 40px;
}

.sectionTitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.recipesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .recipesSection {
    width: 90%;
  }
}

/* @media (max-width: 889px) {
  .recipesSection {
    width: 100%;
  }
} */
