.recipeCard {
  width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 20px;
  min-height: 12rem;
}
.recipeCard:hover {
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

.recipeTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 16px;
  text-align: center;
}

.recipeDetails {
  display: flex;
  justify-content: space-between;
}

.recipeCategory,
.recipeTime {
  display: flex;
  align-items: center;
}
.ingredientsList {
  list-style: none;
  padding: 0;
  width: 80px;
  height: 80px;
}

.ingredients {
  font-weight: 100;
  font-size: 14px;
}

@media (max-width: 889px) {
  .recipeCard {
    width: 250px;
  }
}

@media (max-width: 749px) {
  .recipeCard {
    width: 350px;
  }
}
