.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease-in;
  background-color: #ffe4c4;
  padding: 15px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.headerMain {
  display: flex;
  align-items: center;
  width: 100%;
}

.headerSecondary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.headerTitle {
  margin: 0;
  width: auto;
}

.authContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 14px;
  font-weight: 500;
}

.logoutBtn,
.authButton,
.addButton,
.toggleNavBarButton {
  background: #ffcc80;
  border-radius: 6px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid grey;
}

.addButton::before {
  content: '➕';
  margin-right: 5px;
}

.addButton:hover {
  background: #ffb341;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 1200px) {
  .headerContent {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }

  .headerMain {
    justify-content: center;
    align-items: center;
  }

  .hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .headerSecondary {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* margin-top: 10px; */

    /* Keep it always in the layout, but hide it visually */
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);

    /* Smooth transitions for multiple properties */
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .headerSecondary.active {
    max-height: 500px; /* adjust based on content size */
    opacity: 1;
    transform: translateY(0);
  }

  .headerTitle {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .hamburgerMenu {
    display: block;
  }
}
