.body {
  width: 80vw;
  margin: 0 auto;
  background: #fff5cc;
  color: #5d4037;
}

.content {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .body {
    width: 95vw;
    margin: 0;
  }
}
