:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --trans: 0.3s ease-in;
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #555;
  --header-bg-color: #ffe4c4;
  --bg-card-color: hwb(32 76% 10%);
}

[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --header-bg-color: oklab(0.18 0 0);
  --bg-card-color: oklab(0.25 0 -0.01);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  transition: var(--trans);
}

body {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.modalOpen {
  overflow: hidden;
}

button {
  all: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
